<footer class="footer bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2026 Minha Biblioteca. Todos os direitos reservados.</p>
            </div>
            <div class="col-md-6 text-center">
                <p>Desenvolvido com <i class="fas fa-heart text-danger"></i> usando Node.js e Handlebars</p>
            </div>
        </div>
    </div>
</footer>
