<div class="nav-container menu">
    <nav class="navbar navbar-expand-lg justify-content-center bg-navbar "  >
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/livros">Cadastro</a>
            </li>
        </ul>
    </nav>
</div>