
    <div class=" menu bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
        <h4>Menu</h4>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastro">Cadastro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/livros">Livros</a>
            </li>
        </ul>
    </div>