<div class="container mt-5">
    <h1>Cadastro de Livros</h1>
    <form>
        <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>