<div class="container mt-5">
    <h1>Cadastro de Livros</h1>
    <form>
        <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" required>
            <label class="form-label">Autor</label>
            <input type="text" class="form-control" required>
            <label class="form-label">Ano de Publicação</label>
            <input type="date" class="form-control" required>
             <label class="form-label">Gênero</label>
            <input type="text" class="form-control" required>
             <label class="form-label">Sinopse</label>
            <textarea class=" no-resize form-control text-decoration-none  " rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>